body {
  background-color: #000a19;
}

.blue-text {
  color: #10c6ff;
}

.heading {
  padding-left: 10%;
}

.grey-text {
  color: #a1a1a1;
}

.heading {
  font-size: 45px;
}

.question-1 {
  float: left;
  padding-left: 10%;
}

.question-2 {
  float: right;
  padding-right: 25%;
}

.answer-1 {
  float: left;
  padding-left: 10%;
}

.answer-2 {
  float: right;
  padding-right: 18%;
}

.question-3 {
  float: left;
  padding-left: 10%;
}

.question-4 {
  float: right;
  padding-right: 25%;
}

.answer-3 {
  float: left;
  margin-left: -300px;
}

.answer-4 {
  float: right;
  padding-right: 16%;
}

.ooga {
  color: #000a19;
}
