.codeSprintImage {
	display: flex;
	/* border: 1px white solid; */
	align-items: center;
	justify-content: center;
	padding: 30px;
}
.codeSprintImage__image img:first-child {
	object-fit: contain;
	position: absolute;
	height: 180px;
	margin-left: 95px;
	margin-top: 145px;
	-webkit-animation: earthRotation 10s infinite linear; /* Chrome, Safari, Opera */
	animation: 10s infinite earthRotation linear;
}

.codeSprintImage__image img:last-child {
	object-fit: contain;
	height: 350px;
}
@keyframes earthRotation {
	0% {
		transform: rotate(0deg);
		transition: 5s ease-in-out;
	}
	10% {
		transform: rotate(36deg);
		transition: 5s ease-in-out;
	}
	20% {
		transform: rotate(72deg);
		transition: 5s ease-in-out;
	}
	30% {
		transform: rotate(108deg);
		transition: 5s ease-in-out;
	}
	40% {
		transform: rotate(144deg);
		transition: 5s ease-in-out;
	}
	50% {
		transform: rotate(180deg);
		transition: 5s ease-in-out;
	}
	60% {
		transform: rotate(216deg);
		transition: 5s ease-in-out;
	}
	70% {
		transform: rotate(252deg);
		transition: 5s ease-in-out;
	}
	80% {
		transform: rotate(288deg);
		transition: 5s ease-in-out;
	}
	90% {
		transform: rotate(324deg);
		transition: 5s ease-in-out;
	}
	100% {
		transform: rotate(360deg);
		transition: 5s ease-in-out;
	}
}
