.about {
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about .about__banner {
    height: 500px;
}

.about .about__mainLogo {
    object-fit: contain;
    height: 500px;
}

.about .about__catchPhrase {
    max-width: 800px;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
}

.about .about__catchPhrase > h1 {
    color: white;
    font-weight: bolder;
    font-size: 48px;
}

.about .about__register {
    margin-top: 20px;
    margin-bottom: 40px;
}

.about .about__register .about__registerButton {
    background-color: #02B1D8;
    padding: 10px 20px;
    border-radius: 14px;
    outline: none;
    border: none;
    color: white;
    font-size: 24px;
    margin-bottom: 30px;
}

.about__description {
    color: white;
    width: 1100px;
}

.about__description h2 {
    color: #FFB600;
    margin-bottom: 8px;
    text-align: center;
    margin-bottom: 8px;
    font-size: 36px;
}

.about__description p {
    font-weight: bolder;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}