.leaderboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.leaderboard .box-1,.leaderboard .box-2,.leaderboard .box-3 {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background: #002438;
    text-align: center;
    border-radius: 25px;
    margin: 20px;
}

.leaderboard .box-1 {
    height: 250px;
}

.leaderboard .box-2 {
    height: 200px;
    margin-top: 100px;
}

.leaderboard .box-3 {
    height: 180px;
    margin-top: 130px;
}

.leaderboard .place-text {
    line-height: 5px;
}

.leaderboard .place-text h1{
    margin-right: 50px;
}

.leaderboard .place-text h3 {
    line-height: 0em;
}

.leaderboard .suffix {
    padding-left: 80px;
    margin-top: -35px;
    margin-right:50px ;
}

.leaderboard .winnings{
    font-size: 25px;
    margin-top: 80px;
}

.leaderboard .box-2 h1,.leaderboard .box-2 h3 {
    color: #a0a0a0;
}

.leaderboard .box-1 h1,.leaderboard .box-1 h3 {
    color: #ffbe40;
}

.leaderboard .box-3 h1,.leaderboard .box-3 h3 {
    color: #67532d;
}

.leaderboard .box-2 h4,.leaderboard .box-1 h4,.leaderboard .box-3 h4 {
    padding-top: 35px;
    color: white;
}
