.about {
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about__mainLogo {
    object-fit: contain;
    height: 600px;
}

.about__description {
    color: white;
    width: 1100px;
}

.about__description h2 {
    color: #FFB600;
    margin-bottom: 8px;
    text-align: center;
    margin-bottom: 8px;
}

.about__description p {
    font-weight: bolder;
    text-align: center;
    font-size: 19px;
}