.event .accordion {
	width: 1000px;
}
.event {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	padding: 50px;
	margin-top: 80px;
}
.event h1 {
	font-weight: 700;
	color: #f6af03;
	font-size: 64px;
}
.event .card {
    background-color: #022238 !important;
	padding: 30px ;
	margin-bottom: 24px;
  /* border-bottom: 1px #063657 solid !important; */
}
