.nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 30px 15px;
	/* background-color: #020e1c; */
	z-index: 1;
	position: sticky;
	top: 0;
	transition: 1s ease;
}

.nav__black {
	padding: 10px 15px;
	justify-content: space-between;
    background-color: #020e1ce1;
}

.navBar__sectionOne img {
	object-fit: contain;
	height: 60px;
}

.navBar__sectionOne, .navBar__sectionTwo {
    display: none;
}

.showNavSectionOneImage {
	position: relative;
}

.showNavSectionOneImage, .navBar__sectionTwoChange {
    display: block;
}

.navBar__sectionTwo button {
	background-color: transparent;
	font-size: 18px;
	font-weight: 600;
	border: none;
	outline: none;
	cursor: pointer;
	color: white;
}

.navBar__sectionTwo a {
	color: white;
	font-weight: 600;
	text-decoration: none;
	font-size: 15px;
}

.navBar__sectionTwo > nav > button {
	margin: 0 15px;
}

.navBar__sectionTwo .navBar__login {
	background-color: #02b1d8;
	padding: 10px 20px;
	border-radius: 14px;
	outline: none;
}

.navBar__sectionTwo nav {
	display: flex;
	justify-content: space-evenly;
}

.navBar__sectionTwo {
    width: 100%;
}

.navBar__sectionTwoChange {
    width: fit-content;
}

.showNavSectionOneImage img:first-child {
	object-fit: contain;
	position: absolute;
	-webkit-animation: earthRotation 2s infinite linear; /* Chrome, Safari, Opera */
	animation: 5s infinite earthRotation linear;
}

@keyframes earthRotation {
	0% {
		transform: rotate(0deg);
		transition: 1s ease-in-out;
	}
	10% {
		transform: rotate(36deg);
		transition: 1s ease-in-out;
	}
	20% {
		transform: rotate(72deg);
		transition: 1s ease-in-out;
	}
	30% {
		transform: rotate(108deg);
		transition: 1s ease-in-out;
	}
	40% {
		transform: rotate(144deg);
		transition: 1s ease-in-out;
	}
	50% {
		transform: rotate(180deg);
		transition: 1s ease-in-out;
	}
	60% {
		transform: rotate(216deg);
		transition: 1s ease-in-out;
	}
	70% {
		transform: rotate(252deg);
		transition: 1s ease-in-out;
	}
	80% {
		transform: rotate(288deg);
		transition: 1s ease-in-out;
	}
	90% {
		transform: rotate(324deg);
		transition: 1s ease-in-out;
	}
	100% {
		transform: rotate(360deg);
		transition: 1s ease-in-out;
	}
}