@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.timeline {
    display: flex;
    padding: 100px;
}

.timeline .title {
    font-size: 96px;
    text-align: center;
    color: #10A9FF;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.timeline h3 {
    padding-top: 0.25em;
}

.timeline .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
}

.timeline .date {
    color: rgb(201, 251, 255);
}

.timeline #description {
    margin: 1.5em 0 2em 0;
}

.timeline .button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
}

.timeline .workButton {
    background-color: #06d6a0;
}

.timeline .workButton:hover {
    background-color: #0ac593;
}

.timeline .schoolButton {
    background-color: #f9c74f;
}

.timeline .schoolButton:hover {
    background-color: #f3bc3c;
}

@media only screen and (max-width: 1700px) {
    .timeline .vertical-timeline-element-date {
        display: block !important;
        float: none !important;
        color: white;
        margin-top: 1.5em;
    }
}